# Regiment

### Introduction:


### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Create the DataFrame with the following values:

In [ ]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [ ]:
regiment = pd.DataFrame(raw_data, columns = raw_data.keys())
regiment

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [ ]:
regiment.groupby('regiment')['preTestScore'].mean()

### Step 5. Present general statistics by company

In [ ]:
regiment.groupby('company').describe()

### Step 6. What is the mean of each company's preTestScore?

In [ ]:
regiment.groupby('company')['preTestScore'].mean()

### Step 7. Present the mean preTestScores grouped by regiment and company

In [ ]:
pd.DataFrame(regiment.groupby(['regiment', 'company'])['preTestScore'].mean())

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [ ]:
regiment.groupby(['regiment', 'company']).preTestScore.mean().unstack()

### Step 9. Group the entire dataframe by regiment and company

In [ ]:
regiment.groupby(['regiment', 'company'])[['preTestScore', 'postTestScore']].mean().unstack()

### Step 10. What is the number of observations in each regiment and company

In [ ]:
pd.DataFrame(regiment.groupby(['company', 'regiment']).size())

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [ ]:
# Group the dataframe by regiment, and for each regiment,
for name, group in regiment.groupby('regiment'):
    # print the name of the regiment
    print(name)
    # print the data of that regiment
    print(group)

In [ ]:
ds = regiment.groupby('regiment')
for name, group in ds:    
    print(name, end=' ')    
    print(group)